.item {
    display: flex;
    margin: 20px 20px;
    padding: 20px;
    align-items: center;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.avatar {
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-right: 16px;
}

.status {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: red;
}

.active {
    background-color: green;
    composes: status;
}

.name {
    font-size: 20px;
    font-weight: 600;
}